<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
   <servlet>
    <servlet-name>WeiXinServlet</servlet-name>
    <servlet-class>com.wechat.send.WeiXinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.commonality.UploadImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.activity.VideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>com.activity.ActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QunServlet</servlet-name>
    <servlet-class>com.activity.QunServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JumpServlet</servlet-name>
    <servlet-class>com.activity.JumpServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WeiXinServlet</servlet-name>
    <url-pattern>/WeiXinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QunServlet</servlet-name>
    <url-pattern>/QunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JumpServlet</servlet-name>
    <url-pattern>/JumpServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 编码过滤器begin -->
  <filter>
	<filter-name>EncodingFilter</filter-name>
	<filter-class>com.commonality.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>EncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- end-->
  
  

</web-app>
